
/* Home page */
div#viewer {
    text-align: center;
}

img#duckie{
    padding:5%;
    width:50vw;
    height:auto;
}

.navigation-bar { 
    text-align: center;
    margin: 20px 0 0 ;
    padding: 10px 0;
}

.nav-list { 
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-btn { 
   background: lightblue; 
   border-radius: 100px;
   padding: 4%; 
}

.nav-btn a { 
    color: black; 
    font-size: 20px; 
    text-decoration: none;
}

