
/* Home page */
div#viewer {
    text-align: center;
}

img#duckie{
    padding:5%;
    width:50vw;
    height:auto;
}

.navigation-bar { 
    text-align: center;
    margin: 20px 0 0 ;
    padding: 10px 0;
}

.nav-list { 
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-btn { 
   background: lightblue; 
   border-radius: 100px;
   padding: 40px; 
   font-family: 'Raleway', sans-serif;
}

.nav-btn a { 
    color: black; 
    font-size: 20px; 
    text-decoration: none;
}

#canvas{
    background: #89CFF0;
}

.hidden{
    display:none;
}

.form-page { 
    width: 100%;
    min-height: 100vh; 
    position: relative;
    /* background-image: url('./duck.gif') ; */
    background-image: url('https://cdn.dribbble.com/users/1429491/screenshots/4323471/1dr.gif') ;
    background-size: 100%;
}

form { 
    background: #ff4d4d;
    width: 270px; 
    height: 180px;
    margin-left: 40%;
    margin-top: 250px;
    border-radius: 200px;
    position: absolute;
}

form ul { 
    text-align: center;
    list-style-type: none;
    padding-top: 5px;  
    padding-left: 0;
    margin: 0; 
}

form li { 
    padding: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

input { 
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.timer-box { 
    text-align: center
}

/* .home-btn { 
    float: right; 
    position: relative;
}  */

.lb-container { 
    width: 100%; 
    height: 100vh; 
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.lb-box { 
    margin-top: 30px;
    width: 1100px;
    height: 775px; 
    border-radius: 40px;
     -webkit-animation: leader 5s infinite;
}

@keyframes leader {
    0% {background: #ADE5FE}
    50% {background: #F7FEAD }
    100% {background: #ADE5FE}
    
  }

.lb-h { 
  font-size: 35px;
  text-align: center;

}

.lb-list { 
    font-size: 30px;
    text-align: center;
    list-style-position: inside;
    padding: 0
}

.lb-list li { 
    padding: 10px;
}

.lb-list li b { 
    margin-left: 20px; 
    font-size: 40px; 
}

#welcome-container { 
    width: 100%; 
    height: 100vh; 
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 40px; 
    margin-left: 0; 
}

#welcome-container h1 { 
    -webkit-animation: history 5s infinite;
}

@keyframes history {
    0% {font-size: 60px}
    50% {font-size: 75px }
    100% {font-size: 60px}
    
  }


#game-history-box { 
    text-align: center;
    
}

#game-history-title { 
    font-size: 35px;
}

#game-history-list { 
    list-style: none; 
    padding: 0;
   
}

#game-history-list li { 
    font-size: 20px
    
}

#game-history-list li b { 
    font-size: 30px
}