
/* Home page */
div#viewer {
    position:relative;
}

img#bathtub-img{
    position: absolute;
    /* text-align: center; */
    margin-top:100px;
    left:30%;
    margin-top:17%;
    z-index: 2;
}

img#duckie{
    position: absolute;
    z-index: 1;
    width:400px;
    height:auto;
    left:36%;
    /* text-align: center; */
}

img#bubbles{
    position: absolute;
    z-index:3;
    left:30%;
}
.navigation-bar { 
    text-align: center;
    margin: 20px 0 0 ;
    padding: 10px 0;
}

.nav-list { 
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-btn { 
   background: lightblue; 
   border-radius: 100px;
   padding: 60px; 
}

.nav-btn a { 
    color: black; 
    font-size: 20px; 
    text-decoration: none;
}

